<%- include('../_layouts/adminheader'); %>

<h2 class="page-title mt-5">Fügen Sie ein neues Produkt hinzu</h2>

<a href="/admin/products" class="btn btn-primary">Zurück zu den Produkten</a>
<br><br>

<div id="message_error"></div>
<form id="form" method="POST" action="/admin/products/add-product" enctype="multipart/form-data">

    <div class="form-group">
        <label for="">Titel</label>
        <input id="title" type="text" class="form-control" name="title" value="<%= title%>" placeholder="Title"
            required>
    </div>


    <div class="form-group">
        <label for="">Beschreibung</label>
        <textarea  type="text" class="form-control" name="content" cols=30 rows="3" value="<%= desc%>"
            placeholder="Description" required></textarea>
    </div>

    <div class="form-group">
        <label for="">Kategorien</label>

        <select name="category" class="form-control">
            <%categories.forEach(cat=>{%>
            <option value="<%=cat.slug%>"><%=cat.title%>
            </option>
            <%})%>
        </select>
    </div>

    <div class="form-group">
        <label for="">Preis</label>
        <input type="text" class="form-control" name="price" value="<%= price%>" placeholder="Price" required>
    </div>

    <div class="form-group">
        <label for="">Bild</label>
        <input id="img" type="file" class="form-control" name="image" required>
        <img   src="" id="imgPreview" class="mb-3">
    </div>

    <button  class="btn btn-success p-2">Senden</button>
</form>

<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $("#imgPreview").attr("src", e.target.result).width(100).height(100);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }


    $("#img").change(function () {
        readURL(this);
    });
</script>


<%- include('../_layouts/adminfooter'); %>