<%- include('../_layouts/adminheader'); %>

<h2 class="page-title mt-5"> Seiten
</h2>

<a href="/admin/pages/add-page" class="btn btn-primary">Neue Seite hinzufügen</a>
<br><br>


<table class="table table-striped sorting">

    <thead>
        <tr class="home">
            <th>Titel</th>
            <th>Ändern</th>
            <th>Löschen/th>
        </tr>
    </thead>

    <tbody>
        <% pages.forEach(function(page){ %>
        <tr id="id_<%=page._id%>" class="<%=page.slug%>">
            <td><%= page.title%></td>
            <td> <a href="/admin/pages/edit-page/<%=page.slug%>">Ändern</a> </td>
            <% if(page.slug == "home"){%>
            <td></td>
            <% } else {%>
            <td><a class="confirmDelete" href="/admin/pages/delete-page/<%=page._id%>">Löschen</a></td>
            <% } %>
        </tr>
        <% }) %>
    </tbody>
</table>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>
    /*Sortable item*/
    $('tbody').sortable({
        items: "tr:not('.home')",
        placeholder: "ui-state-hightlight",
        update: function () {
            var ids = $('tbody').sortable("serialize");
            var url = "/admin/pages/reorder-pages";
            $.post(url, ids);
        }
    });

</script>
<%- include('../_layouts/adminfooter'); %>