<%- include('../_layouts/adminheader'); %>

<h2 class="page-title mt-5"> Produkte</h2>

<a href="/admin/products/add-product" class="btn btn-primary">Fügen Sie ein neues Produkt hinzu</a>
<br><br>

<%if(count > 0){%>
<table class="table table-striped">

    <thead>
        <tr>
            <th>Produkt</th>
            <th>Preis </th>
            <th>Kategorie</th>
            <th>Bild</th>
        <!--    <th>Edit</th>-->
            <th>Löschen</th>
        </tr>
    </thead>

    <tbody>
        <% products.forEach(function(product){ %>
        <tr>
            <td><%= product.title%></td>
            <td><%= parseFloat(product.price).toFixed(2)%> &euro; </td>
            <td><%= product.category%></td>
            <td>
                <% if(product.image == ""){%>
                <img id="image_size" src="/images/noimage.png" alt="">
                <%} else{%>
                <img id="image_size" src="/product_images/<%= product.image%>">
                <%}%>
            </td>
          <!--  <td> <a href="/admin/products/edit-product/<%=product.slug%>">Edit</a> </td> -->
            <td><a class="confirmDelete" href="/admin/products/delete-product/<%=product._id%>">Löschen</a></td>

        </tr>
        <% }) %>
    </tbody>
</table>
<%}else{%>
<h3 class="text-center">Kein Produkt verfügbar!</h3>
<%}%>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>

<script>
    /*Sortable item*/
    $('tbody').sortable({
        items: "tr:not('.home')",
        placeholder: "ui-state-hightlight",
        update: function () {
            var ids = $('tbody').sortable("serialize");
            var url = "/admin/pages/reorder-pages";
            $.post(url, ids);
        }
    });
</script>
<%- include('../_layouts/adminfooter'); %>